* {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 960px;
    font-family: Cambria, 'Times New Roman', 'Nimbus Roman No9 L', 'Freeserif', Times, serif;
    font-size: 16px;
}

    #wrapper div {
        width: 360px;
        border: 1px solid black;
        border-radius: 15px;
        background: -webkit-linear-gradient(top, #ededed 0%, #acacac 100%);
        margin: 35px;
        padding: 10px;
    }

h1 {
    font-size: 1.8em;
    color:#555;
    text-align:center;
}

.messages-list {
    list-style-type: none;
    position:relative;
    color:#555;
}

.me-item {
    border: 1px solid black;
    border-radius: 15px;
    background: -webkit-linear-gradient(top, #2dedff 0%, #b9f9ff 100%);
    margin: 5px;
    padding: 5px 10px;
    text-align: left;
    width:220px;
    float:right;
}

.toshko-item {
    border: 1px solid black;
    border-radius: 15px;
    background: -webkit-linear-gradient(top, #dbffce 0%, #75ff42 100%);
    margin: 5px;
    padding:  5px 10px;
    width:220px;
    float:left;
    text-align: right;
}

.date{
    font-family:Consolas;
    font-size:0.8em;
    text-align:right;
}

.me-item .date{
   float:right;
   font-weight:normal;
}

.toshko-item .date{
    float:left;
    font-weight:normal;
}

.toshko-item p{
    text-align:left;
    padding: 0 5px;
}

span{
    font-weight:bold;
    font-size:1.1em;
   padding:0 5px;
}

button{
    border:none;
    border-radius: 5px;
    background: -webkit-linear-gradient(top, #ededed 0%, #acacac 100%);
    padding: 5px 10px;
    font-size:1.2em;
    vertical-align:middle;
}

button:hover{
    background:#eee;
}

input{
    border:none;
    width:260px;
    height:25px;
    border-radius: 5px;
    padding:5px;
    padding-left:15px;
}