body{
	width: 750px;
	border: 2px solid #868686;
	border-radius: 5px;
	font-family: Corbel, Myriad Pro, sans-serif;
	font-size: 18px;
	font-weight: bold;
}

header{
	width: 95%;
	text-align: center;
	border-bottom: 2px solid #353535;
	margin-left: 20px;
}

a{
	color: #02b2f6;
	font-size: 25px;
	font-weight: bold;
}

section{
	width: 520px;
	border: 2px solid #353535;
	margin: 10px 0 10px 10px;
	padding: 10px 0 10px 0;
}

article{
	display: inline-block;
	text-align: right;
}

ul{
	list-style-type: none;
}

li{
	display: inline-block;
}


fieldset{
	width:220px;
	height: 150px;
	border: 2px solid #353535;
	line-height: 35px;
}

legend{
	margin-left: 25px;
	padding-left: 5px;
	padding-right: 10px;
}

img{
    float: left;
}
div{
	margin-top: 25px;
}

span{
	padding-right: 7px;
	
}

span.left{
    padding-right: 25px;
}

aside{
	width: 200px;
	float: right;
	margin-top: -450px;
	line-height: 40px;
}