body,
div,
h1,
ul,
li,
a,
p,
table,
th,
thead,
td,
tr {
    margin:0;
    padding:0;
}

body #wrapper {
    width:960px;
    font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    font-size: 18px;
    
}
body ul li .accordion-content{
    display:none;
}

body ul .current .accordion-content{
    display:block;
    text-align:justify;
    background:#b4a791;
    padding:5px;
    border-left:1px solid black;
    border-right:1px solid black;
    color: #444;
}

body .accordion{
    width:400px;
    margin:100px;
    padding:5px;
    list-style-type:none;
    
    
}
body .accordion .accordion-btn{
    color: #444;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.3em;
    text-align: center;
    display: block;
    border: 1px solid black;
    border-bottom:none;
    background: #b4a791;
    background: -moz-linear-gradient(top, #eeeeee 25%, #b4a791 75%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #eeeeee), color-stop(75%, #b4a791));
    background: -webkit-linear-gradient(top, #eeeeee 25%, #b4a791 75%);
    background: -o-linear-gradient(top, #eeeeee 25%, #b4a791 75%);
    background: -ms-linear-gradient(top, #eeeeee 25%, #b4a791 75%);
    background: linear-gradient(to bottom, #eeeeee 25%, #b4a791 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#b4a791', GradientType=0);
}
body .accordion .accordion-btn:hover{
    background:#b4a791;
}

body #wrapper .accordion li .accordion-content h1 {
  font-size: 1.6em;
  text-align: center;
  margin: 5px auto;
  color: #5e5e5e;
}

body #wrapper .accordion li .accordion-content table {
    border-collapse:collapse;
    border:1px solid black;
    margin: 15px auto;
    border-radius: 5px;
}
body #wrapper .accordion li .accordion-content table thead tr {
    background: #b4a791;
    background: -moz-linear-gradient(top, #b4a791 25%, #eeeeee 75%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #b4a791), color-stop(75%, #eeeeee));
    background: -webkit-linear-gradient(top, #b4a791 25%, #eeeeee 75%);
    background: -o-linear-gradient(top, #b4a791 25%, #eeeeee 75%);
    background: -ms-linear-gradient(top, #b4a791 25%, #eeeeee 75%);
    background: linear-gradient(to bottom, #b4a791 25%, #eeeeee 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4a791', endColorstr='#eeeeee', GradientType=0);
 border-top-right-radius: 15px;
}
body #wrapper .accordion li .accordion-content table thead tr th:first-of-type {
  border-top-left-radius: 15px;
}
body #wrapper .accordion li .accordion-content table tbody tr {
  background: #b4a791;
  background: -moz-linear-gradient(top, #b4a791 0%, #eeeeee 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b4a791), color-stop(100%, #eeeeee));
  background: -webkit-linear-gradient(top, #b4a791 0%, #eeeeee 100%);
  background: -o-linear-gradient(top, #b4a791 0%, #eeeeee 100%);
  background: -ms-linear-gradient(top, #b4a791 0%, #eeeeee 100%);
  background: linear-gradient(to bottom, #b4a791 0%, #eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4a791', endColorstr='#eeeeee', GradientType=0);
}
body #wrapper .accordion li .accordion-content table tbody tr:nth-of-type(2n+1) {
  background: #888888;
  background: -moz-linear-gradient(top, #cccccc 0%, #888888 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(100%, #888888));
  background: -webkit-linear-gradient(top, #cccccc 0%, #888888 100%);
  background: -o-linear-gradient(top, #cccccc 0%, #888888 100%);
  background: -ms-linear-gradient(top, #cccccc 0%, #888888 100%);
  background: linear-gradient(to bottom, #cccccc 0%, #888888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#888888', GradientType=0);
}
body #wrapper .accordion li .accordion-content table tbody tr td {
  color: #fff;
}
body #wrapper .accordion li .accordion-content table td,
body #wrapper .accordion li .accordion-content table th {
  border: 1px solid black;
  padding: 5px;
}
body #wrapper .accordion li.current .accordion-btn {
  border-bottom: none;
}
body #wrapper .accordion li.current .accordion-content {
  display: block;
}