	

    table {
             
    }
    td:first-child {
            text-align:right;
            width:150px;
            font-weight:bold;
    }
    input {
            padding:5px;
    }
            input[type="date"], input[type="tel"], input[type="number"] {
                    max-width:60px;
            }
            input[type="submit"], input[type="reset"] {
                    max-width:100%;
                    border:2px outset #d4d0c8;
                    background-color:#d4d0c8;
                    margin:1px 5px;
                    padding:4px;
            }
    span {
            margin-left:3px;
    }
    textarea {
            width:95%;
    }

